@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Background, Borders, and Base css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #F3C5C5;
}

.white-border {
    height: auto;
    width: auto;
    border: 0.937em solid #F1F1F1;
    margin: 1.25em;
}

.orange-box {
    background-color: #F29374;
    height:auto;
    width: auto;
}

/* Title Tiles */

.tile {
    color: #F1F1F1;
    width: 6.25em;
    height: 6.25em;
    background-image: linear-gradient(#A9B9D9, #F29374);
    display: grid;
    place-items: center;
    margin-top: 2.81em;
    margin-bottom: 1.56em;
}

div span {
    font-size: 3em;
}

.title {
    display: flex;
    gap: 1.56em;
    justify-content: center;
    align-items: center;
}

/* Instructions, Rounds, and Points */

.instruction {
    color: #F1F1F1;
    font-size: 2em;
}

.round,
.playerOne_Points,
.playerTwo_Points {
    color: #F1F1F1;
    font-size: 2.25em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points {
    display: flex;
    gap: 6.25em;
}

/* Word Input */