@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Background, Borders, and Base css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #F3C5C5;
}

.white-border {
    height: 95vh;
    width: auto;
    border: 0.937em solid #F1F1F1;
    margin: 1.25em;
}

.orange-box {
    background-color: #F29374;
    height: 100%;
    width: auto;
}

/* Title Tiles */

.tile {
    color: #F1F1F1;
    width: 5.62em;
    height: 5.62em;
    background-image: linear-gradient(#A9B9D9, #F29374);
    display: grid;
    place-items: center;
    margin-top: 2.81em;
    margin-bottom: 1.56em;
    border-radius: 0.37em;
}

div span {
    font-size: 2.5em;
}

.title {
    display: flex;
    gap: 1.56em;
    justify-content: center;
    align-items: center;
}

/* Instructions, Rounds, and Points */

.instruction {
    color: #F1F1F1;
    font-size: 1em;
    margin-bottom: 0.625em;
}

.round,
.playerOne_Points,
.playerTwo_Points {
    color: #F1F1F1;
    font-size: 1.87em;
    margin-top: 0.625;
}

.round {
    margin: 1em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25em;
}

.points {
    display: flex;
    gap: 6.25em;
}

.line {
    border-bottom: 1px solid #F1F1F1;
    margin: 2.5em 5.62em;
}

/* Word Input */

.wordOne,
.wordTwo {
    color: #F1F1F1;
    font-size: 1.56em;
    margin-top: 3.12em;
}

.wordOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.12em;
}

.wordTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.12em;
}

input {
    width: 40%;
    height: 2.5em;
    border: none;
    padding: 1.25em;
}

input::placeholder {
    font-size: 1em;
    opacity: 0.5;
}

/* Button */

.button_container {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    width: 12em;
    height: 2.5em;
    border-radius: 0.37em;
    background-color: #A9B9D9;
    color:#F1F1F1;
    padding: 0.125em;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.56em;
    margin-top: 4em;
    margin-bottom: 2.5em;
}

/* Pop-Up Box with Winner */
.overlay,
.items {
    display: flex;
    justify-content: center;
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(243, 197, 197, 0.75);
    z-index: 2;
    cursor: pointer;
}

.items {
    width: 25em;
    height: 9.37em;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 35%;
    background-color: #F29374;
    border-radius: 0.37em;
}

.winner {
    color: #F1F1F1;
    font-size: 1.56em;
    margin-top: 2.5em;
}

.restart {
    width: 12.5em;
    height: 3.12em;
    font-size: 1.25em;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}

/* Media Queries */

/* Mobile */
@media only screen and (max-width: 400px) {
    .tile {
        width: 1.56em;
        height: 1.56em;
        margin-bottom: 1em;
       /* margin-top: 2em;*/
    }

    div span {
        font-size: 1em;
    }

    .title {
        gap: 0.75em;
    }

    .instruction {
        font-size: 0.75em;
        margin-bottom: 2em;
    }

    .round,
    .playerOne_Points,
    .playerTwo_Points {
        font-size: 1.03em;
    }

    .round {
        margin-bottom: 0.75em;
    }

    .line {
        margin: 2.5em 2em 0 2em;
    }

    .points {
        gap: 3.12em;
    }

    .wordOne,
    .wordTwo {
        font-size: 0.87em;
        margin-top: 2em;
    }

    input {
        width: 60%;
    }

    input::placeholder {
        font-size: 0.87em;
    }

    .wordOne {
        gap: 2em;
        margin-left: 0;
    }

    .wordTwo {
        gap: 2em;
        margin-left: 0;
    }

    button {
        width: 9.37em;
        height: 2.5em;
        font-size: 1em;
    }

    .items {
        width: 15.62em;
        height: 7.5em;
    }

    .restart {
        width: 9.37em;
        height: 2.81em;
        font-size: 1em;
    }
}

/* Smaller Tablet */
@media only screen and (min-width: 401px) and (max-width: 689px) {
    .tile {
        width: 1.75em;
        height: 1.75em;
        margin-bottom: 1em;
        margin-top: 2em;
    }

    div span {
        font-size: 1.25em;
    }

    .title {
        gap: .67em;
    }

    .instruction {
        font-size: 0.87em;
        margin-bottom: 2em;
    }

    .round,
    .playerOne_Points,
    .playerTwo_Points {
        font-size: 1.12em;
    }

    .round {
        margin-bottom: 0.75em;
    }

    .line {
        margin: 2.5em 2em 0 2em;
    }

    .points {
        gap: 3.12em;
    }

    input {
        width: 60%;
    }

    input::placeholder {
        font-size: 0.87em;
    }

    .wordOne,
    .wordTwo {
        font-size: 1em;
        margin-top: 4em;
    }

    .wordOne {
        gap: 2em;
        margin-left: 0;
    }

    .wordTwo {
        gap: 2em;
        margin-left: 0;
    }

    button {
        width: 10em;
        height: 2.5em;
        font-size: 1em;
        margin-top: 6em;
    }

    .items {
        width: 18.75em;
        height: 7.5em;
    }

    .restart {
        width: 9.37em;
        height: 3em;
        font-size: 1.17em;
    }
}

/* Tablet */
@media only screen and (min-width: 690px) and (max-width: 960px) {
    .tile {
        width: 3.75em;
        height: 3.75em;
        margin-bottom: 1em;
        margin-top: 3.5em;
    }

    div span {
        font-size: 2.25em;
    }

    .title {
        gap: 1em;
    }

    .instruction {
        font-size: 1.37em;
        margin-bottom: 2em;
    }

    input {
        width: 50%;
    }

    .round,
    .playerOne_Points,
    .playerTwo_Points {
        font-size: 1.87em;
    }

    .round {
        margin-bottom: 1em;
    }
    .wordOne,
    .wordTwo {
        margin-top: 2em;
    }

    .wordOne {
        gap: 2em;
        margin-left: 0;
    }

    .wordTwo {
        gap: 2em;
        margin-left: 0;
    }

    button {
        margin-top: 3em;
    }

    .restart {
        width: 11.87em;
    }
}
